#nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#titleContainer {
    background-color: #ee1515;
    text-align: center;
    padding-top:5px;
    padding-bottom: 5px;
    border-radius: 60px;
    width: 20%;
}

#title {
    color:white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
}

#NavLink {
    text-decoration: none;
}

@media (min-width: 375px) {
    #titleContainer {
        width: 80%;
    }
}